/*  your css code here. If applicable */

/* Define the animation */

@keyframes slideRightToLeft {
	from {
		transform: translateX(50%);
		/* Start from right */
	}

	to {
		transform: translateX(0);
		/* End at original position */
	}
}

.heading {
	animation: slideRightToLeft ease-in;
	animation-duration: 5s;
}

.image {
	height: 200px;
}
